[user]
	email = kishiyama.t@gmail.com
	name = Takeshi KISHIYAMA

[alias]
	a = add --verbose  # 事故防止: 名前は確認しよう
	aa = add . --verbose
	b = branch
	c = commit # vim を開くから cv
	ca = commit --amend
	cam = commit -a -m
	cm = commit -m
	co = checkout
	cob = checkout -b
	cv = commit -v
	d = diff
	dn = diff --name-only
	dw = diff --word-diff
	l = pull
	lo = pull origin
	lg = log
	lgg = log --oneline --graph
	po = push origin
	pom = push origin master
	ri = rebase -i
	rc = rebase --continue  # rebase -i の eからの復帰が楽
	s = status
	ss = status -s
	# https://stackoverflow.com/questions/957928/
	# is-there-a-way-to-get-the-git-root-directory-in-one-command
	root = rev-parse --show-toplevel  # git root | cd で git root に移動
	sinit = submodule init
	supdate = submodule update

[core]
	whitespace = cr-at-eol
	editor = vim

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[push]
	default = simple
